In [3]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from tqdm import tqdm

"""sys.path.insert(0, './src')
from tools import *
from plotting_tools import *"""

#import processed datasets
path_to_data = '../_data/'

filtered_data = pd.read_csv(path_to_data+'filtered_data.csv')
master_boxscore = pd.read_csv(path_to_data+'master_boxscore.csv').sort_values(by='gmDate',ascending=False).drop(columns=['Unnamed: 0'])
master_OU = pd.read_csv(path_to_data+'master_OU.csv')

In [4]:
game_data = filtered_data[['Date', 'opptAbbr', 'teamAbbr', 'Spread', 'Open_Line_OU', 'O/U',]]
game_data

            Date opptAbbr teamAbbr  Spread  Open_Line_OU  O/U
0     2017-10-17      CLE      BOS    -3.0         216.5  0.0
1     2017-10-17      GSW      HOU     1.0         235.0  1.0
2     2017-10-18      ORL      MIA    -7.0         207.0  1.0
3     2017-10-18      WAS      PHI    -5.0         215.0  1.0
4     2017-10-18      BOS      MIL     8.0         209.5  0.0
...          ...      ...      ...     ...           ...  ...
7965  2016-06-08      CLE      GSW   -30.0         206.0  1.0
7966  2016-06-10      CLE      GSW    11.0         206.0  0.0
7967  2016-06-13      GSW      CLE    15.0         206.0  1.0
7968  2016-06-16      CLE      GSW   -14.0         207.0  1.0
7969  2016-06-19      GSW      CLE     4.0         206.5  0.0

[7970 rows x 6 columns]

In [5]:
game_data_array = game_data.values.tolist()
game_data_array[0]

['2017-10-17', 'CLE', 'BOS', -3.0, 216.5, 0.0]

In [6]:
row_list = []

for row in tqdm(game_data_array):  
    team_temp = master_boxscore.loc[(master_boxscore['gmDate'] <= row[0]) & (master_boxscore['teamAbbr'] == row[2])][team_columns][1:6]
    new_team_row = team_temp.mean()
    new_team_row['teamDayOff'] = team_temp.teamDayOff.sum()
    
    oppt_temp = master_boxscore.loc[(master_boxscore['gmDate'] <= row[0]) & (master_boxscore['opptAbbr'] == row[1])][oppt_columns][1:6]
    new_oppt_row = oppt_temp.mean()
    new_oppt_row['opptDayOff'] = oppt_temp.opptDayOff.sum()
    
    row_list.append(pd.concat([new_team_row, new_oppt_row]).to_dict())

  0%|          | 0/7970 [00:00<?, ?it/s]

NameError: name 'team_columns' is not defined

In [233]:
game_boxscore = pd.DataFrame(row_list)
game_boxscore.head()

,team2P%,team2PA,team2PM,team3P%,team3PA,team3PM,teamAR,teamASST%,teamAST,teamAST/TO,...,opptPlay%,opptPoss,opptSTL,opptSTL%,opptSTL/TO,opptTO,opptTO%,opptTRB,opptTREB%,opptTS%
0,0.496,50.8,25.2,0.358,34.8,12.8,23.064,69.74,26.4,2.592,...,0.468,98.38,6.6,6.68,0.556,12.6,11.26,41.2,48.94,0.6046
1,0.558,46.0,25.6,0.334,41.0,13.8,19.846,57.84,22.8,1.826,...,0.482,102.48,6.2,6.10,0.406,16.6,14.40,46.2,52.80,0.6528
2,0.462,63.0,29.2,0.350,22.4,7.6,19.308,56.56,21.0,1.460,...,0.452,102.60,8.4,8.20,0.678,12.4,11.44,43.6,47.16,0.5912
3,0.548,57.2,31.2,0.330,30.6,10.2,19.964,57.66,23.4,1.522,...,0.458,95.94,8.4,8.62,0.582,14.2,12.54,46.8,56.24,0.5512
4,0.480,54.6,25.8,0.438,22.2,9.8,20.730,58.12,20.6,1.570,...,0.376,98.30,8.0,8.14,0.496,17.6,15.58,39.8,48.58,0.4978

In [234]:
game_data = game_data.join(game_boxscore)
game_data

,Date,opptAbbr,teamAbbr,Spread,Open_Line_OU,O/U,team2P%,team2PA,team2PM,team3P%,...,opptPlay%,opptPoss,opptSTL,opptSTL%,opptSTL/TO,opptTO,opptTO%,opptTRB,opptTREB%,opptTS%
0,2017-10-17,CLE,BOS,-3.0,216.5,0.0,0.496,50.8,25.2,0.358,...,0.468,98.38,6.6,6.68,0.556,12.6,11.26,41.2,48.94,0.6046
1,2017-10-17,GSW,HOU,1.0,235.0,1.0,0.558,46.0,25.6,0.334,...,0.482,102.48,6.2,6.10,0.406,16.6,14.40,46.2,52.80,0.6528
2,2017-10-18,ORL,MIA,-7.0,207.0,1.0,0.462,63.0,29.2,0.350,...,0.452,102.60,8.4,8.20,0.678,12.4,11.44,43.6,47.16,0.5912
3,2017-10-18,WAS,PHI,-5.0,215.0,1.0,0.548,57.2,31.2,0.330,...,0.458,95.94,8.4,8.62,0.582,14.2,12.54,46.8,56.24,0.5512
4,2017-10-18,BOS,MIL,8.0,209.5,0.0,0.480,54.6,25.8,0.438,...,0.376,98.30,8.0,8.14,0.496,17.6,15.58,39.8,48.58,0.4978
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7965,2016-06-08,CLE,GSW,-30.0,206.0,1.0,0.438,45.8,20.2,0.362,...,0.518,93.34,8.0,8.54,0.624,12.6,12.06,48.0,59.90,0.6206
7966,2016-06-10,CLE,GSW,11.0,206.0,0.0,0.424,43.4,18.4,0.390,...,0.532,91.82,8.6,9.26,0.614,13.8,12.96,48.0,60.00,0.6134
7967,2016-06-13,GSW,CLE,15.0,206.0,1.0,0.440,59.4,26.0,0.304,...,0.462,92.86,7.6,8.26,0.610,15.0,14.12,43.4,51.88,0.5828
7968,2016-06-16,CLE,GSW,-14.0,207.0,1.0,0.440,43.8,19.2,0.372,...,0.522,89.98,7.6,8.32,0.668,11.6,10.90,45.8,55.30,0.5798
7969,2016-06-19,GSW,CLE,4.0,206.5,0.0,0.490,57.4,28.2,0.304,...,0.410,94.98,6.6,6.98,0.420,16.8,15.46,43.4,52.44,0.5532

In [235]:
#game_data.to_csv('./_data/trailing_game_data.csv')

In [9]:
list(pd.read_csv('./_data/trailing_game_data.csv').columns)

['Unnamed: 0',
 'Date',
 'opptAbbr',
 'teamAbbr',
 'Spread',
 'Open_Line_OU',
 'O/U',
 'team2P%',
 'team2PA',
 'team2PM',
 'team3P%',
 'team3PA',
 'team3PM',
 'teamAR',
 'teamASST%',
 'teamAST',
 'teamAST/TO',
 'teamBLK',
 'teamBLK%',
 'teamBLKR',
 'teamDRB',
 'teamDREB%',
 'teamDayOff',
 'teamDrtg',
 'teamEDiff',
 'teamEFG%',
 'teamFG%',
 'teamFGA',
 'teamFGM',
 'teamFIC',
 'teamFIC40',
 'teamFT%',
 'teamFTA',
 'teamFTM',
 'teamORB',
 'teamOREB%',
 'teamOrtg',
 'teamPF',
 'teamPPS',
 'teamPTS',
 'teamPTS1',
 'teamPTS10',
 'teamPTS2',
 'teamPTS3',
 'teamPTS4',
 'teamPTS5',
 'teamPTS6',
 'teamPTS7',
 'teamPTS8',
 'teamPTS9',
 'teamPace',
 'teamPlay%',
 'teamPoss',
 'teamSTL',
 'teamSTL%',
 'teamSTL/TO',
 'teamTO',
 'teamTO%',
 'teamTRB',
 'teamTREB%',
 'teamTS%',
 'oppt2P%',
 'oppt2PA',
 'oppt2PM',
 'oppt3P%',
 'oppt3PA',
 'oppt3PM',
 'opptAR',
 'opptASST%',
 'opptAST',
 'opptAST/TO',
 'opptBLK',
 'opptBLK%',
 'opptBLKR',
 'opptDRB',
 'opptDREB%',
 'opptDayOff',
 'opptDrtg',
 'opptEDiff',
 'opptEFG%',
 'opptFG%',
 'opptFGA',
 'opptFGM',
 'opptFIC',
 'opptFIC40',
 'opptFT%',
 'opptFTA',
 'opptFTM',
 'opptORB',
 'opptOREB%',
 'opptOrtg',
 'opptPF',
 'opptPPS',
 'opptPTS',
 'opptPTS1',
 'opptPTS10',
 'opptPTS2',
 'opptPTS3',
 'opptPTS4',
 'opptPTS5',
 'opptPTS6',
 'opptPTS7',
 'opptPTS8',
 'opptPTS9',
 'opptPace',
 'opptPlay%',
 'opptPoss',
 'opptSTL',
 'opptSTL%',
 'opptSTL/TO',
 'opptTO',
 'opptTO%',
 'opptTRB',
 'opptTREB%',
 'opptTS%']